/Fire_CL-ML_Maule
/Regiones
/zip_data
/Target_Directory
/Prithvi_Examples
/Prithvi-EO-2.0-300M-BurnScars
/output.tif
/mask.tif
/merged.tif
/WorldClim
/capas
/.DS_Store
/data
/merged_rasters
/prev10_rasters
/fire_history_rasters_30yr
*.tif
/model_files